
CoreData/CoreData/CoreData.xcodeproj/project.xcworkspace/xcuserdata/pachie.xcuserdatad/UserInterfaceState.xcuserstate

CoreData/CoreData/CoreData.xcodeproj/project.xcworkspace/xcuserdata/pachie.xcuserdatad/UserInterfaceState.xcuserstate

MesaSQLite.app/Contents/_CodeSignature/CodeResources

CoreData/CoreData/CoreData.xcodeproj/project.xcworkspace/xcuserdata/pachie.xcuserdatad/UserInterfaceState.xcuserstate

CoreData/CoreData/CoreData.xcodeproj/project.xcworkspace/xcuserdata/pachie.xcuserdatad/UserInterfaceState.xcuserstate

CoreDataSample/CoreDataSample.xcodeproj/project.xcworkspace/xcshareddata/CoreDataSample.xccheckout

MesaSQLite.app/Contents/Frameworks/MBS Xojo CocoaBase Plugin.xojo_plugin_12.dylib

TestCell3/MyTableViewController.m

TestCell3/PageDetailViewController.m

SampleJSON/SampleJSON.xcodeproj/project.xcworkspace/xcuserdata/PachieMac.xcuserdatad/UserInterfaceState.xcuserstate

TestCell3/PageDetailViewController.h

TestCell3/Storyboard.storyboard

TestCell3/TestCell3.xcodeproj/project.xcworkspace/xcshareddata/TestCell3.xccheckout

TestCell3/TestCell3.xcodeproj/project.xcworkspace/xcuserdata/pachie.xcuserdatad/UserInterfaceState.xcuserstate

TestCell3/TestCell3.xcodeproj/project.xcworkspace/xcshareddata/TestCell3.xccheckout

SampleJSON/SampleJSON.xcodeproj/project.xcworkspace/xcshareddata/SampleJSON.xccheckout

TestCell3/TestCell3/View.xib

ToPeso/ToPesoTests/ToPesoTests-Info.plist

ToPeso/ToPesoTests/ToPesoTests-Info.plist
