
CoreData/CoreData/CoreData.xcodeproj/project.xcworkspace/xcuserdata/pachie.xcuserdatad/UserInterfaceState.xcuserstate

CoreData/CoreData/CoreData.xcodeproj/project.xcworkspace/xcuserdata/pachie.xcuserdatad/UserInterfaceState.xcuserstate

MesaSQLite.app/Contents/_CodeSignature/CodeResources

CoreData/CoreData/CoreData.xcodeproj/project.xcworkspace/xcuserdata/pachie.xcuserdatad/UserInterfaceState.xcuserstate

CoreData/CoreData/CoreData.xcodeproj/project.xcworkspace/xcuserdata/pachie.xcuserdatad/UserInterfaceState.xcuserstate

CoreDataSample/CoreDataSample.xcodeproj/project.xcworkspace/xcshareddata/CoreDataSample.xccheckout

MesaSQLite.app/Contents/Frameworks/MBS Xojo CocoaBase Plugin.xojo_plugin_12.dylib
