<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM
"file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
   <key>CFBundleExecutable</key>
   <string>MesaSQLite</string>
   <key>CFBundleName</key>
   <string>MesaSQLite</string>
   <key>CFBundleIdentifier</key>
   <string>com.desertsandsoftware.mesasqlite</string>
   <key>CFBundleInfoDictionaryVersion</key>
   <string>6.0</string>
   <key>CFBundleVersion</key>
   <string>4.2.3.3.0</string>
   <key>CFBundleDevelopmentRegion</key>
   <string>en</string>
   <key>CFBundlePackageType</key>
   <string>APPL</string>
   <key>CFBundleSignature</key>
   <string>MESA</string>
   <key>CFBundleGetInfoString</key>
   <string>4.2.3</string>
   <key>CFBundleShortVersionString</key>
   <string>4.2.3</string>
   <key>CFBundleIconFile</key>
   <string>MesaSQLite.icns</string>
<key>LSMinimumSystemVersion</key>
<string>10.7.0</string>
   <key>CFBundleDocumentTypes</key>
   <array>
      <dict>
         <key>CFBundleTypeName</key>
         <string>text</string>
         <key>CFBundleTypeIconFile</key>
         <string>Text.icns</string>
         <key>CFBundleTypeOSTypes</key>
         <array>
            <string>TEXT</string>
         </array>
         <key>CFBundleTypeExtensions</key>
         <array>
            <string>txt</string>
            <string>rtf</string>
            <string>sql</string>
         </array>
         <key>CFBundleTypeRole</key>
         <string>None</string>
      </dict>
      <dict>
         <key>CFBundleTypeName</key>
         <string>image/jpeg</string>
         <key>CFBundleTypeIconFile</key>
         <string>ImageJpeg.icns</string>
         <key>CFBundleTypeOSTypes</key>
         <array>
            <string>JPEG</string>
         </array>
         <key>CFBundleTypeExtensions</key>
         <array>
            <string>jfif</string>
            <string>jpe</string>
            <string>jpeg</string>
            <string>jpg</string>
         </array>
         <key>CFBundleTypeRole</key>
         <string>None</string>
      </dict>
      <dict>
         <key>CFBundleTypeName</key>
         <string>image/tiff</string>
         <key>CFBundleTypeIconFile</key>
         <string>ImageTiff.icns</string>
         <key>CFBundleTypeOSTypes</key>
         <array>
            <string>TIFF</string>
         </array>
         <key>CFBundleTypeExtensions</key>
         <array>
            <string>jfx</string>
            <string>tif</string>
            <string>tiff</string>
         </array>
         <key>CFBundleTypeRole</key>
         <string>None</string>
      </dict>
      <dict>
         <key>CFBundleTypeName</key>
         <string>application/pdf</string>
         <key>CFBundleTypeIconFile</key>
         <string>ApplicationPdf.icns</string>
         <key>CFBundleTypeOSTypes</key>
         <array>
            <string>PDF </string>
         </array>
         <key>CFBundleTypeExtensions</key>
         <array>
            <string>pdf</string>
         </array>
         <key>CFBundleTypeRole</key>
         <string>None</string>
      </dict>
      <dict>
         <key>CFBundleTypeName</key>
         <string>text/import</string>
         <key>CFBundleTypeIconFile</key>
         <string>TextImport.icns</string>
         <key>CFBundleTypeOSTypes</key>
         <array>
            <string></string>
         </array>
         <key>CFBundleTypeExtensions</key>
         <array>
            <string>txt</string>
            <string>csv</string>
            <string>tab</string>
            <string>tsv</string>
            <string>mer</string>
         </array>
         <key>CFBundleTypeRole</key>
         <string>None</string>
      </dict>
      <dict>
         <key>CFBundleTypeName</key>
         <string>REALSQLdb</string>
         <key>CFBundleTypeIconFile</key>
         <string>REALSQLdb.icns</string>
         <key>CFBundleTypeOSTypes</key>
         <array>
            <string>RSdb</string>
         </array>
         <key>CFBundleTypeExtensions</key>
         <array>
            <string>rdb</string>
            <string>db</string>
            <string>sqlite</string>
            <string>rsd</string>
            <string>sdb</string>
            <string>sqlite3</string>
            <string>sqlitedb</string>
         </array>
         <key>CFBundleTypeRole</key>
         <string>Editor</string>
      </dict>
      <dict>
         <key>CFBundleTypeName</key>
         <string>image/png</string>
         <key>CFBundleTypeIconFile</key>
         <string>ImagePng.icns</string>
         <key>CFBundleTypeOSTypes</key>
         <array>
            <string>PNGf</string>
         </array>
         <key>CFBundleTypeExtensions</key>
         <array>
            <string>png</string>
         </array>
         <key>CFBundleTypeRole</key>
         <string>None</string>
      </dict>
      <dict>
         <key>CFBundleTypeName</key>
         <string>preferences</string>
         <key>CFBundleTypeIconFile</key>
         <string>Preferences.icns</string>
         <key>CFBundleTypeOSTypes</key>
         <array>
            <string>pref</string>
         </array>
         <key>CFBundleTypeExtensions</key>
         <array>
            <string>prefs</string>
         </array>
         <key>CFBundleTypeRole</key>
         <string>None</string>
      </dict>
      <dict>
         <key>CFBundleTypeName</key>
         <string>sqlfile</string>
         <key>CFBundleTypeIconFile</key>
         <string>Sqlfile.icns</string>
         <key>CFBundleTypeOSTypes</key>
         <array>
            <string>TEXT</string>
         </array>
         <key>CFBundleTypeExtensions</key>
         <array>
            <string>sql</string>
         </array>
         <key>CFBundleTypeRole</key>
         <string>None</string>
      </dict>
   </array>
</dict>
</plist>